{% extends "portal/template.html" %}
{% load django_tables2 %}

{% block title %} Camp | Youth LIVE {% endblock %}

{% block body %}
<div class="container col-12 mt-2">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-hs-tab" data-toggle="tab" href="#nav-hs" role="tab" aria-controls="nav-hs" aria-selected="true">High School</a>
            <a class="nav-item nav-link" id="nav-col-tab" data-toggle="tab" href="#nav-col" role="tab" aria-controls="nav-col" aria-selected="false">College</a>
            <a class="nav-item nav-link" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="false">All</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-hs" role="tabpanel" aria-labelledby="nav-hs-tab">
            test1
            {% render_table query_hs %}
        </div>
        <div class="tab-pane fade" id="nav-col" role="tabpanel" aria-labelledby="nav-col-tab">
            test2
            {% render_table query_col %}
        </div>
        <div class="tab-pane fade" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
            test3
            {% render_table query_all %}
        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}

{% endblock %}
