{% extends "portal/template.html" %}
{% load django_tables2 %}

{% block title %} Camp | Youth LIVE {% endblock %}

{% block body %}
{#    {% debug %}#}
<div class="container col-12 mt-2">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-hs-tab" data-toggle="tab" href="#nav-hs" role="tab" aria-controls="nav-hs" aria-selected="true">High School</a>
            <a class="nav-item nav-link" id="nav-col-tab" data-toggle="tab" href="#nav-col" role="tab" aria-controls="nav-col" aria-selected="false">College</a>
            <a class="nav-item nav-link" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="false">All</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        {% for table in tables %}
            <div class="tab-pane fade show {% cycle 'active' '' '' %}" id="nav-{% cycle 'hs' 'col' 'all' %}" role="tabpanel" aria-labelledby="nav-{% cycle 'hs' 'col' 'all' %}-tab">
                test {% cycle '1' '2' '3'%}
                    {% render_table table %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extrascripts %}

{% endblock %}
